<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <fieldset>

         <legend>Form for new br</legend>
        <form action="/blogs" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">

        <br>
        <br>

        <label for="comment">ID</label>
        <input type="text" name="comment" id="comment"> 

        <button type="submit">Submit</button>

        </form>
    </fieldset>
    
</body>
</html>