
<!-- include header -->


<button id="btn">Click me</button>
<%- include('./partials/header') %>
    <h1>hwello ji </h1>

    <p>kaise ho mere pyare desh wasio </p>



<!-- include footer -->

<%- include('./partials/footer') %> 

  